<footer>
  <div class="row">
    <div class="col-8 mx-lg-auto text-lg-center">
      <p class="text-sm text-secondary">Copyright © 2023 Soft &amp; Hactive8 by Jun & Sultan.</p>
    </div>
  </div>
</footer>
