<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style/theme.css">
    <link rel="stylesheet" href="../css/style/detailCss/detail.css">
<header class="">
        <div class="page-header min-vh-50 py-4" style="background-image: url(https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1770&amp;q=80)">
            <span class="mask bg-gradient-dark opacity-9"></span>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-white text-center">
                        <h6 class="text-white">It's simple and smart</h6>
                        <h1 class="text-white">Search, Find &amp; Apply</h1>
                        <p class="lead">Browse from more than 15,000,000 adverts while new ones come on daily bassis</p>
                        <button type="submit" class="btn bg-gradient-success mt-3 mb-0">Read more</button>
                    </div>
                </div>
                <div class="container">
                    <form action="/jobs?search=" method="get">
                    <div class="row bg-white shadow mt-n5 border-radius-lg pb-4 p-3 mx-sm-0 mx-1 position-relative">
                        <div class="col-lg-3 mt-2">
                            <div class="input-group">
                                <input class="form-control" placeholder="Job title" aria-label="Search for" type="text" name="title">
                            </div>
                        </div>
                        <div class="col-lg-3 mt-2">
                            <div class="input-group">
                                <input class="form-control" placeholder="Location" aria-label="Location in" type="text" name="location">
                            </div>
                        </div>
                        <div class="col-lg-3 mt-2">
                            <div class="input-group">
                                <input class="form-control" placeholder="Category" aria-label="Category" type="text" name="category">
                            </div>
                        </div>
                        <div class="col-lg-3 mt-2">
                            <button type="submit" class="btn bg-gradient-success w-100 mb-0">Search</button>
                        </div>
                    </div>
                </form>
                    <div>
                        <div class="form-check form-check-success text-left mt-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked="">
                            <label class="form-check-label text-white" for="flexCheckDefault">
                                View last searches
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>